<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css">
{{#if admin}}
{{>menuAdmin}}
{{/if}}
{{#if manager}}
{{>menuManager}}
{{/if}}
{{#if person}}
{{>menuPerson}}
{{/if}}

<h3 id="user_h3" data-id="{{user.id}}">{{user.name}} {{user.surname}}</h3>
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">

                        {{#each users}}

                        <li class="clearfix friend" data-fId="{{id}}">
                            <img src="/{{image}}" alt="avatar">
                            <div class="about">
                                <div class="name">{{name}} {{surname}}</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">Aiden Chavez</h6>
                                    <small>Last seen: 2 hours ago</small>
                                </div>
                            </div>
                            <div class="col-lg-6 hidden-sm text-right">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary"><i
                                        class="fa fa-camera"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary"><i
                                        class="fa fa-image"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-info"><i
                                        class="fa fa-cogs"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                        class="fa fa-question"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0" id="mess">
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div id="btn_send" class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input id="text" type="text" class="form-control" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    console.log(socket)
    const user = document.getElementById("user_h3")
    console.log(user.dataset)
    let userId = user.dataset.id;
    let fId = 0
    console.log(userId,user.dataset.id )

    socket.emit("joinUser", user.dataset.id)

    const arr = document.getElementsByClassName("friend")
    console.log(arr)
    for (let i = 0; i < arr.length; i++) {
        arr[i].onclick = sendUserId
    }


    function sendUserId() {
        console.log(this.dataset)
        fId = this.dataset.fid
        socket.emit("getMessage",  { fromId: userId, toId: fId })
    }
    socket.on("sendMessage", arr=>{
        console.log("arr===>", arr)
        mess.innerHTML= ""
        arr.forEach(elm=>{
            let d1 = document.createElement("li")
            d1.className = "clearfix"

            d1.innerHTML=`   
                                {{!-- <div class="message-data ${elm.fromId == userId? " text-right":""}">
                                    <span class="message-data-time">10:10 AM, Today</span>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                </div> --}}
                                <div class="message ${elm.fromId == userId?"other-message float-right":" my-message"}"> ${elm.text}</div>
                            `
                            mess.append(d1)
        })
    })

    const btn_send = document.getElementById("btn_send");
    btn_send.onclick = function () {
        console.log(text.value, userId, fId)
        socket.emit("sendNewMessage", { fromId: userId, toId: fId, text: text.value })
    }


</script>
