{{#if admin}}
{{>menuAdmin}}
{{/if}}
{{#if manager}}
{{>menuManager}}
{{/if}}
{{#if person}}
{{>menuPerson}}
{{/if}}

<style>
    .product-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .product-detail {
      margin-top: 20px;
    }
</style>

<div class="container mt-5">
  <h1 class="text-center mb-4 text-primary">Product Details</h1>

  {{#if products}}
    <div class="product-detail">
      <h2 class="text-success">{{products.title}}</h2>

      <div class="row">
        <div class="col-md-6">
          <h4>Images</h4>
          <div class="d-flex">
            {{#each products.images}}
              <img src="/{{image}}" class="product-image" alt="product image">
            {{/each}}
          </div>
        </div>

        <div class="col-md-6">
          <h4>Product Price</h4>
          <p><strong>{{products.price}} AMD</strong></p>

          <h4>Manager</h4>
          <p>{{products.manager.user.name}} {{products.manager.user.surname}}</p>
        </div>
      </div>

    </div>
  {{else}}
    <p class="alert alert-warning text-center">Product not found</p>
  {{/if}}

</div>
